.product__container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    left: calc(50% - 386px/2 - 427px);

    /* shadow */
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));

}

.product-list__image {
    width: 354px;
    height: 330px;
    left: -4.17%;
    right: -119.44%;
    bottom: 0%;

}

.product-list__title {
    width: 299px;
    height: 68px;

    /* Heading / Desktop / H2 */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    /* identical to box height, or 67px */

    display: flex;
    align-items: center;
    text-transform: capitalize;

}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    margin-top: 100px;
}

.product-list__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 354px;
    height: 58px;
}
