.nav-wrapper {
    position: relative;
    width: 100vw;
    height: 80px;
    left: 0px;
    top: 0px;
    margin-bottom: 80px;
}

.nav-container {
    display: flex;
    height: 100%;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    flex: 0;
    padding-top: 24px;
}